<ion-view view-title="Report">
  <ion-content class="padding">

    <div class="floorplan" style="background-image: url('{{selectedImage}}')">
    </div>
    <div class="row">
      <div class="col">
        <button class="button icon-center ion-thermometer button-positive" ng-click="selectSensor(0)"></button>
      </div>
      <div class="col">
        <button class="button icon-center ion-waterdrop button-positive" ng-click="selectSensor(1)"></button>
      </div>
      <div class="col">
        <button class="button icon-center ion-volume-medium button-positive" ng-click="selectSensor(2)"></button>
      </div>
      <div class="col">
        <button class="button icon-center ion-ios-lightbulb-outline button-positive" ng-click="selectSensor(3)"></button>
      </div>
      <div class="col">
        <button class="button icon-center ion-ios-people button-positive" ng-click="selectSensor(4)"></button>
      </div>
      
      </div>
  </ion-content>
</ion-view>
