/* Empty. Add your own CSS if you like */

.floorplan {
	width: 100%;
	height: 275px;
	background-size: cover;
	margin-top: -26px;

}

.range {
	padding: 2px 22px;
}



/*.sensorBar {
	position: absolute;
	bottom: 0;
}*/